body {
    background: black;
    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    background: white;
    border-radius: 50%;
    overflow: hidden;
}
